.container-cards{
    /* display:flex;
    flex-wrap: wrap; */    
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    justify-content: center;
}