
.home-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/725/100/11/arboles-cielo-naturaleza-nubes-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
}

body {
    font-family: "Audiowide", sans-serif;
  }